{% extends 'base.html.twig' %}

{% block title %}New Produit{% endblock %}

{% block body %}
    <div class="container">
    {{form_start(form)}}
        <input type="submit" value="ok">
    {{form_end(form)}}

    
    </div>
{% endblock %}