{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}


{% block body %}

	<main class="container">
		<div id="myCarousel" class="carousel slide" data-bs-ride="carousel" > 
			<div class="carousel-inner">
				{% for carousel in carousel %}
					{% if loop.index0 == 0 %}
						<div class="carousel-item active">
						{% else %}
							<div class="carousel-item ">
							{% endif %}
							<img class=" h-50 d-inline-block" src="{{ asset('assets/images/' ~ carousel.nom )}}" alt="">							
						</div>
					{% endfor %}
				</div>
			</div>
		</div>

	{% endblock %}
