<h1>Hi! Please confirm your email!</h1>

<p>
    Veuillez confirmer votre adresse email en suivant le lien: <br><br>
    <a href="{{ signedUrl }}">Confirmer mon email</a>.
     Ce lien expirera dans   {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cordialement!
</p>
