<form method="post" action="{{ path('app_condiment_delete', {'id': condiment.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ condiment.id) }}">
    <button class="btn">Delete</button>
</form>
