
{% extends 'base.html.twig' %}


{% block title %}Categories
{% endblock %}

{% block body %}
	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}
<h1>Categories des produits</h1>
	
     <div class="row m-3">
	 
	{% for categorie in list_categories %}		
		<div class="card m-4" style="width: 18rem;">
			<img src="{{ asset ('assets/images/' ~ categorie.image)}}" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">{{categorie.nom}}</h5>				
				<a href="{{ path('categorie_list', {nom: categorie.nom})}}" class="btn btn-primary">Voir</a>
			</div>
		</div>		
	{% endfor %}
	 
	 </div>
	


		{% endblock %}
