*
{
    margin: 0;
    padding: 0;
    font-family:'Holtwood One SC', sans-serif;
    color: hwb(0 14% 12%);  
    box-sizing: border-box; 
}

/* menu humburger*/



body
{
    background: url(../images/bg.png);
}



img {
    width: 100%;
    height: auto;
  }


/* home */

.text-logo
{
    text-align: center;
    color: hwb(0 14% 12%);
    margin-top: 20px;
    font-family:'Holtwood One SC', sans-serif;
    font-size: 60px;
    
}

.text-center text-lg-start text-white
.nav
{
    margin-bottom: 40px;
}

.nav-pills > li > a.active {
    background-color: #ff0000 !important;
}
.nav>li>a:focus, .nav>li>a:hover
{
    color: whitesmoke;
    background-color: red;
}
.nav>li a
{
    
    
    color: whitesmoke;
    font-size: 18px;
    text-shadow: 2px 2px #333;
    
}



/* menu humburger*/

.burger
{
    display: none;
    position: absolute;
    top: 40px;
    right: 100px;
    background-color: black;
    width: 30px;
    height: 30px;
    cursor: pointer;
}




.modif
{
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


td{
    color: whitesmoke;
}





  /*Carrousel*/
#carouselExampleSlidesOnly
{
    
    width: 50%;
    height: 50%;
    margin: auto;
}
  /*footer*/

  